<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Test Page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-button
                    expand="block"
                    (click)="insertDocument()"
                    size="large"
                    color="primary"
                >
                    Insert Document
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
