<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card-header class="ion-text-center">
          <ion-icon name="person" size="large"></ion-icon>
          <ion-card-title
            >{{currentContact.firstName}}
            {{currentContact.lastName}}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngIf="currentContact.contactNumber">
            <ion-icon
              slot="start"
              [ios]="'call-outline'"
              [md]="'call-sharp'"
            ></ion-icon>
            <ion-label>{{currentContact.contactNumber}}</ion-label>
          </ion-item>
          <ion-item *ngIf="currentContact.email">
            <ion-icon
              slot="start"
              [ios]="'at-outline'"
              [md]="'at-sharp'"
            ></ion-icon>
            <ion-label class="ion-text-wrap"
              >{{currentContact.email}}</ion-label
            >
          </ion-item>
        </ion-card-content>
        <ion-footer>
          <ion-grid>
            <ion-row *ngIf="currentContact.contactNumber">
              <ion-col>
                <ion-button
                  expand="block"
                  (click)="callNumber()"
                  size="large"
                  color="primary"
                >
                  <ion-icon
                    [ios]="'call-outline'"
                    [md]="'call-sharp'"
                    slot="start"
                  ></ion-icon>
                  Call
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="currentContact.contactNumber">
              <ion-col>
                <ion-button
                  expand="block"
                  (click)="messageNumber()"
                  size="large"
                  color="secondary"
                >
                  <ion-icon
                    [ios]="'mail-outline'"
                    [md]="'mail-sharp'"
                    slot="start"
                  ></ion-icon>
                  Message
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="currentContact.email">
              <ion-col>
                <ion-button
                  expand="block"
                  (click)="emailContact()"
                  size="large"
                  color="tertiary"
                >
                  <ion-icon
                    [ios]="'at-outline'"
                    [md]="'at-sharp'"
                    slot="start"
                  ></ion-icon>
                  Email
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
