<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding" *ngFor="let c of contacts" lines="none">
    <ion-item [routerLink]="['/', 'contact-detail', c.id]">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>{{ c.firstName }} {{ c.lastName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
