<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Contacts</ion-title>
    <ion-buttons slot="primary">
      <!-- <ion-button [routerLink]="['/', 'add-contact']"> -->
      <ion-button (click)="goToAddContactPage()">
        <ion-icon
          [ios]="'add-outline'"
          [md]="'add-sharp'"
          color="primary"
        ></ion-icon>
        <ion-label color="primary">Add</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row *ngIf="this.contacts.length > 0">
      <ion-col>
        <ion-list lines="none" class="ion-padding" size-md="8" offset-md="2">
          <ion-item
            *ngFor="let c of contacts"
            [routerLink]="['/', 'contact-detail', c.id]"
            class="ion-padding"
          >
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>{{ c.firstName }} {{ c.lastName }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="contacts.length === 0 || !this.contacts"
      class="ion-padding"
    >
      <ion-col size-md="6" offset-md="3">
        <ion-button
          expand="block"
          (click)="instaAddRandomContacts()"
          size="large"
          color="light"
        >
          <ion-icon
            [ios]="'person-add-outline'"
            [md]="'person-add-sharp'"
            slot="start"
          ></ion-icon>
          Insta-Add Friends
        </ion-button>
        <ion-button
          expand="block"
          [routerLink]="['/', 'add-contact']"
          size="large"
          color="light"
        >
          <ion-icon
            [ios]="'person-add-outline'"
            [md]="'person-add-sharp'"
            slot="start"
          ></ion-icon>
          Add Contact
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
