<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Minimalist Contacts</ion-list-header>
          <ion-note>Mini-project to practice Firebase</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['login']"
              lines="none"
              detail="false"
              *ngIf="!(this.authService.ngFireAuth.authState | async)"
            >
              <ion-icon
                slot="start"
                [ios]="'log-out-outline'"
                [md]="'log-out-sharp'"
              ></ion-icon>
              <ion-label>Log In</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['all-contacts']"
              lines="none"
              detail="false"
              *ngIf="this.authService.ngFireAuth.authState | async"
            >
              <ion-icon
                slot="start"
                [ios]="'people-outline'"
                [md]="'people-sharp'"
              ></ion-icon>
              <ion-label>View Contacts</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['my-settings']"
              lines="none"
              detail="false"
              *ngIf="this.authService.ngFireAuth.authState | async"
            >
              <ion-icon
                slot="start"
                [ios]="'settings-outline'"
                [md]="'settings-sharp'"
              ></ion-icon>
              <ion-label>My Profile</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['about-dev']"
              lines="none"
              detail="false"
            >
              <ion-icon
                slot="start"
                [ios]="'code-slash-outline'"
                [md]="'code-slash-sharp'"
              ></ion-icon>
              <ion-label>About Developer</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['login']"
              lines="none"
              detail="false"
              (click)="logOut()"
              *ngIf="this.authService.ngFireAuth.authState | async"
            >
              <ion-icon
                slot="start"
                [ios]="'log-out-outline'"
                [md]="'log-out-sharp'"
              ></ion-icon>
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon
              slot="start"
              ios="bookmark-outline"
              md="bookmark-sharp"
            ></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
